<% provide(:title, "Log in") %>
<h1 align="center">Log in</h1>

<h2><% flash.each do |key, value| %>
    <div class="flash <%= key %>"><%= value %></div>
<% end %></h2>

<div class="center">
  <div class="forms">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :remember_me, class: "checkbox inline" do %>
         <div class="remember"><%= f.check_box :remember_me %> Remember me</div>
      <% end %>
      <br>
      <%= f.submit "Log in", class: "btn btn-primary", id: "submit" %>
    <% end %>

    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
    <p><%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %></p>
  </div>
</div>
