<% provide(:title, "Listing") %>
<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Year:</strong>
  <%= @book.year %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Price:</strong>
  <%= @book.price %>
</p>

<p>
  <strong>Course_number:</strong>
  <%= @book.course_number %>
</p>

<% if @book.user != nil %>
  <p>
    <strong>Seller: </strong>
    <%= @book.user.name %>
  </p>
  <p>
    <strong>Contact Seller by Email</strong>
    <%= @book.user.email %>
  </p>
<% end %>


<%= image_tag @book.image_url(:thumb) if @book.image? %>
