<nav>
	<div class="navbar">
		<div class="navButton"><%= link_to image_tag("notebook.png", :alt => "Udio logo", :id => "logo"), {action: 'index', controller: 'login'} %></div>
		<div class="navButton"></div>
		<div class="navButton"></div>
		<div class="navButton"></div>
		<div class="navButton"></div>
		<div class="navButton"></div>
		<div class="navButton"></div>
		<div class="navButton"></div>
		<div class="navButton"></div>
		<div class="navButton"><%= link_to "Home",   root_path %></div>
		<div class="navButton"><%= link_to "Buy", '#' %></div>
		<div class="navButton"><%= link_to "Log in", login_path %></div>
		<div class="navButton"><%= link_to "Sign up", signup_path %></div>
	</div>
          
</nav>