<nav>
	<div class="navbar">
		<%# <div class="navButton"id="logo"><%= link_to image_tag("notebook.png", :alt => "Udio logo", :id => "logo"), {action: 'index', controller: 'login'} </div> %>
		<div class="navButton"id="logo"><%= link_to image_tag("notebook.png", :alt => "Udio logo", :id => "logo"), root_path %> </div>
		<div class="emptyDiv"></div>
		
		<%= link_to root_path do %>
			<div class="navButton">Home</div>
		<% end %>
		
<<<<<<< HEAD
		<%= link_to sell_path do%>
		<div class="navButton">Sell</div>
=======
		<% if !current_user %>
			<%= link_to login_path do %>
				<div class="navButton">Sell</div>
			<% end %>
		<% else %>
			<%= link_to '#' do %>
				<div class="navButton">Sell</div>
			<% end %>
>>>>>>> search
		<% end %>
	
		<%= link_to login_path do %>
			<div class="navButton">Log in</div>
		<% end %>
		
		<% if !current_user %>
			<%= link_to signup_path do %>
				<div class="navButton">Sign up</div>
			<% end %>
<<<<<<< HEAD
=======
		<% else %>
			<%= link_to signout_path do %>
				<div class="navButton">Sign Out</div>
			<% end %>
>>>>>>> search
		<% end %>
		<% if current_user %>
			<%= link_to signout_path, id: "sign_out" do %>
				<div class="navButton">Sign out</div>
			<% end %>
		<% end %>
		
	</div>
          
</nav>