<nav>
	<div class="navbar">
		<%# <div class="navButton"id="logo"><%= link_to image_tag("notebook.png", :alt => "Udio logo", :id => "logo"), {action: 'index', controller: 'login'} </div> %>
		<div class="navButton"id="logo"><%= link_to image_tag("notebook.png", :alt => "Udio logo", :id => "logo"), root_path %> </div>
		<div class="emptyDiv"></div>
		<div class="emptyDiv"></div>
		<div class="emptyDiv"></div>
		<div class="emptyDiv"></div>
		<div class="emptyDiv"></div>
		<div class="emptyDiv"></div>
		<div class="emptyDiv"></div>
		
		<%= link_to root_path do %>
			<div class="navButton">Home</div>
		<% end %>
		
		<%= link_to '#' do%>
		<div class="navButton">Buy</div>
		<% end %>
	
		<%= link_to login_path do %>
			<div class="navButton">Log in</div>
		<% end %>
		
		<%= link_to signup_path do %>
			<div class="navButton">Sign up</div>
		<% end %>
	</div>
          
</nav>