<nav>
	<div class="navbar">
		<%# <div class="navButton"id="logo"><%= link_to image_tag("notebook.png", :alt => "Udio logo", :id => "logo"), {action: 'index', controller: 'login'} </div> %>
		<div class="navButton"id="logo"><%= link_to image_tag("notebook.png", :alt => "Udio logo", :id => "logo"), root_path %> </div>
		<div class="emptyDiv"></div>
		<div class="emptyDiv"></div>
		<div class="emptyDiv"></div>
		<div class="emptyDiv"></div>
		<div class="emptyDiv"></div>
		<div class="emptyDiv"></div>
		
		<%= link_to root_path do %>
			<div class="navButton">Home</div>
		<% end %>
		
		<%= link_to '#' do%>
		<div class="navButton">Buy</div>
		<% end %>

		<%= link_to sell_path do %>
			<div class="navButton">Sell</div>
		<% end %>

		<% if !current_user %>
			<%= link_to login_path do %>
				<div class="navButton">Log in</div>
			<% end %>
		
			<%= link_to signup_path do %>
				<div class="navButton">Sign up</div>
			<% end %>
		<% end %>
		<% if current_user %>
			<%= link_to signout_path do %>
				<div class="navButton">Sign out</div>
			<% end %>
			<p>Signed in as <strong><%= current_user.name %></strong>!</p>
	    <% end %> 
	</div>
          
</nav>
